.contenedor-slider{
    overflow: hidden;
    position: relative;
}

.slider{
   display: flex;
   width: 1000px;
}

p{
    width: 100%;
}

img{
    display: block;
    width: 1000px;
    height: 400px;    
}

.botones{
    position: absolute;
    top: 25%;
    opacity: 0.4;
}

.botones:hover{
   opacity: 1;
}
